<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="header">
  <a href="/" class="logo"><img src="Logo.svg" onerror="this.onerror=null; this.src='Logo-Small.png'" alt="Team Fluid" width="100" height="56"></a>
  
  <div class="header-right">
    <a href="/">Home</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
  </div>
</div>


</body>
</html>
