<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <header>
        <%- include('./Partials/Header') %> 
    </header>
    <body>
        <h2>This has not yet been emplemented</h2>
        <footer><%-include('./partials/Footer.ejs')%></footer>
    </body>
</html>